@{
    ViewData["Title"] = "Contact";
}
@model PersonalSite.Models.ContactViewModel

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
        </div>

        <div class="row mt-1">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Centriq Training KC:</h4>
                        <p>1740 W 92 St #300, Kansas City, MO 64114</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>tannercolehulett@gmail.com</p><br>
                    </div>

                    <div class="resume">
                        <i class="bi bi-envelope-paper"></i>
                        <h4>Resume:</h4><br>
                        <a href="assets/img/classmates/Resume.pdf" target="_blank" download="TannerHulettResume">Downloadable Resume</a>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form asp-action="Contact" class="email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input asp-for="Name" type="text"  class="form-control" placeholder="Your Name" required>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Your Email" required>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input asp-for="Subject" type="text" class="form-control" placeholder="Subject" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <textarea asp-for="Message" class="form-control"  rows="5" placeholder="Message" required></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->